.footer {
  height: 50px;
  width: 390px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
}

.footer img {
  width: 40px;
}
