.footer {
  height: 50px;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  position: sticky;
  bottom: 0;
}

.footer img {
  width: 40px;
}
