#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  margin: 5vh auto;
  width: 390px;
  min-height: 90vh;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
}

.single_beer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reviews {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 200;
  line-height: 0;
}

.wrapper_product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.single_line {
  margin: 20px auto;
  width: 90%;
  height: 1px;
  background-color: black;
}
